html,
body {
	min-width: 1200px;
	padding: 0;
	margin: 0;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

/*HEADER*/

.logo {
	float: left;
	width: 220px;
}

.search {
	float: left;
	width: 240px;
}

.order-block {
	float: right;
	width: 460px;
}

.info {
	float: left;
	width: 300px;
}

.contacts {
	float: left;
	width: 310px;
}

.user-block {
	float: right;
	width: 300px;
}

.bottom-line {
	padding-top: 45px;
}

.main-nav {
	width: 940px;
	margin: 0 auto;
}

.main-nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
	text-align: center;
}

.main-nav li {
	display: inline-block;
	font-size: 16px;
}

.main-header {
	margin-bottom: 60px;
}

/*MAIN*/

.profit {
	margin-bottom: 55px;
}

.promo{
	width: 300px;
	height: 123px;
	outline: 1px solid;
	margin-right: 20px;
	margin-bottom: 20px;
}

.material,
.tool {
	float: left;
}

.tech,
.discount,
.delivery {
	float: right;
}

.delivery {
	margin-bottom: 0;
}

.promo:nth-child(n+2) {
	margin-right: 0;
}

.slider {
	float: left;
	width: 620px;
	height: 266px;
	outline: 1px solid;
}

.popular-header {
	width: 940px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.item-cards {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	font-size: 0;
}

.item {
	display: inline-block;
	width: 220px;
	height: 318px;
	outline: 1px solid;
	margin-right: 16px;
	margin-bottom: 20px;
	vertical-align: top;
	font-size: 16px;
}

.item-cards .item:nth-child(4n) {
	margin-right: 0;
}

.producer-cards {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	font-size: 0;
}

.producer-name {
	display: inline-block;
	width: 220px;
	height: 145px;
	outline: 1px solid;
	margin-right: 14px;
	margin-bottom: 20px;
	font-size: 20px;
}

.producer-name:nth-child(4n) {
	margin-right: 0;
}

.producer-name:nth-child(n+4) {
	margin-bottom: 0;
}

.service {
	margin-top: 85px;
	margin-bottom: 80px;
}

.service-header {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.service-name {
	float: left;
	width: 240px;
}

.service-description {
	float: right;
	width: 630px;
}

.about-us {
	float: left;
	width: 540px;
}

.about-contacts {
	float: right;
	width: 310px;
}

.about {
	margin-bottom: 85px;
}

/*MAIN-CATALOG*/

.bread-crumbs {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
}

.bread-crumbs li {
	display: inline-block;
	font-size: 16px;
}

.filter {
	float: left;
	width: 220px;
}

.catalog{
	float: right;
	width: 700px;
}

.sorting {
	margin-bottom: 20px;
}

.arrow-choise {
	float: right;
}

.product-cards {
	width: 700px;
	font-size: 0;
}

.product-cards .item:nth-child(3n) {
	margin-right: 0;
}

.perfo-info {
	margin-top: 60px;
}

/*footer*/

.footer-logo {
	float: left;
	width: 220px;
}

.support-nav {
	float: right;
	width: 620px;
}

.support-nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.support-nav li {
	display: inline-block;
}

.middle-footer {
	padding-top: 35px;
	padding-bottom: 50px;
}

.footer-adress {
	float: left;
	width: 380px;
}

.secondary-nav {
	float: right;
	width: 540px;
}

.secondary-nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.secondary-nav li {
	display: inline-block;
}

.copyright {
	float: left;
	width: 240px;
	margin-right: 140px;
}

.social {
	float: left;
	width: 160px;
}

.feedback {
	float: right;
	width: 140px;
}

.create {
	float: right;
	width: 140px;
}























