html,
body {
	min-width: 960px;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	font-family: "Cuprum", "Arial", sans-serif;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

/*HEADER*/

.logo-container {
	float: left;
	width: 220px;
}

.top-line {
	min-height: 50px;
	background-color: #293449;
}

.logo {
	display: block;
	padding: 13px 55px;
	font-size: 24px;
	line-height: 24px;
	font-family: "Cuprum", "Arial", sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #ee3643;
	box-shadow: 0 5px 0 0 #b52933;
}

.logo:hover {
	background-color: #ca2c37;
	box-shadow: 0 5px 0 0 #9a212a;
}

.logo:active {
	background-color: #ba2732;
	box-shadow: 0 5px 0 0 #8e1e26;
}

.search {
	float: left;
	width: 240px;
}

.order-block {
	float: right;
	width: 450px;
	font-size: 0;
}

.order {
	position: relative;
	display: inline-block;
	padding: 15px 20px;
	font-size: 17px;
	line-height: 20px;
	font-family: "Cuprum", "Arial", sans-serif;
	vertical-align: top;
	text-decoration: none;
	color: #fff;
}

.bookmarks,
.basket {
	padding-left: 50px;
}

.bookmarks::before {
	content: "";
	position: absolute;
	top: 15px;
	left: 20px;
	width: 14px;
	height: 16px;
	background: red url("img/sprite.png") no-repeat;
	background-position: -5px -31px;
}

.checkout {
	background-color: #63a63e;
}

.info {
	float: left;
	width: 257px;
	outline: 1px solid red;
	margin-top: 0;
	padding-left: 53px;
	padding-top: 45px;
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
 	font-family: "Cuprum", "Arial", sans-serif;
 	color: #ee3643;
}

.contacts {
	float: left;
	width: 310px;
}

.user-block {
	float: right;
	width: 300px;
}

.main-nav {
	width: 940px;
	margin: 0 auto;
}

.main-nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
	text-align: center;
}

.main-nav li {
	display: inline-block;
	font-size: 16px;
}

.main-header {
	margin-bottom: 60px;
}

/*MAIN*/

.profit {
	margin-bottom: 55px;
}

.promo{
	width: 300px;
	height: 123px;
	outline: 1px solid;
	margin-right: 20px;
	margin-bottom: 20px;
}

.material,
.tool {
	float: left;
}

.tech,
.discount,
.delivery {
	float: right;
}

.delivery {
	margin-bottom: 0;
}

.promo:nth-child(n+2) {
	margin-right: 0;
}

.slider {
	float: left;
	width: 620px;
	height: 266px;
	outline: 1px solid;
}

.popular-header {
	width: 940px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.item-cards {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	font-size: 0;
}

.item {
	display: inline-block;
	width: 220px;
	height: 318px;
	outline: 1px solid;
	margin-right: 16px;
	margin-bottom: 20px;
	vertical-align: top;
	font-size: 16px;
}

.item-cards .item:nth-child(4n) {
	margin-right: 0;
}

.producer-cards {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	font-size: 0;
}

.producer-name {
	display: inline-block;
	width: 220px;
	height: 145px;
	outline: 1px solid;
	margin-right: 14px;
	margin-bottom: 20px;
	font-size: 20px;
}

.producer-name:nth-child(4n) {
	margin-right: 0;
}

.producer-name:nth-child(n+4) {
	margin-bottom: 0;
}

.service {
	margin-top: 85px;
	margin-bottom: 80px;
}

.service-header {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.service-name {
	float: left;
	width: 240px;
}

.service-description {
	float: right;
	width: 630px;
}

.about-us {
	float: left;
	width: 540px;
}

.about-contacts {
	float: right;
	width: 310px;
}

.about {
	margin-bottom: 85px;
}

/*MAIN-CATALOG*/

.bread-crumbs {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
}

.bread-crumbs li {
	display: inline-block;
	font-size: 16px;
}

.filter {
	float: left;
	width: 220px;
}

.catalog{
	float: right;
	width: 700px;
}

.sorting {
	margin-bottom: 20px;
}

.arrow-choise {
	float: right;
}

.product-cards {
	width: 700px;
	font-size: 0;
}

.product-cards .item:nth-child(3n) {
	margin-right: 0;
}

.perfo-info {
	margin-top: 60px;
}

/*footer*/

.footer-logo {
	float: left;
	width: 220px;
}

.support-nav {
	float: right;
	width: 620px;
}

.support-nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.support-nav li {
	display: inline-block;
}

.middle-footer {
	padding-top: 35px;
	padding-bottom: 50px;
}

.footer-adress {
	float: left;
	width: 380px;
}

.secondary-nav {
	float: right;
	width: 540px;
}

.secondary-nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.secondary-nav li {
	display: inline-block;
}

.copyright {
	float: left;
	width: 240px;
	margin-right: 140px;
}

.social {
	float: left;
	width: 160px;
}

.feedback {
	float: right;
	width: 140px;
}

.create {
	float: right;
	width: 140px;
}

















